#include("/WEB-INF/view/common/qui/header.html")
<link href="/libs/css/import_basic.css" rel="stylesheet" type="text/css"/>
<link href="/libs/skins/#(qui_theme ?? 'orange')/style.css" rel="stylesheet" type="text/css" id="theme" themeColor="#(qui_theme ?? 'orange')" positionTarget="positionContent"/>
<link href="/static/qui/system/#(qui_theme ?? 'orange')/skin/style.css" rel="stylesheet" type="text/css" id="skin" skinPath="static/qui/system/#(qui_theme ?? 'orange')/skin/"/>

<!--数据表格start-->
<script src="/libs/js/table/quiGrid.js" type="text/javascript"></script>
<!--数据表格end-->

</head>
<body  style="padding:10px">
<div class="box2" paneltitle="竞买项目报价详情">
</div>
<div id="dataBasic"></div>


<script type="text/javascript">
	var grid = null;

	grid = $("#dataBasic").quiGrid({
		columns:[
			{ display: '供应商编号', name: 'GYSBH', align: 'center', editor: { type: 'text'}, width: '30%'},
			{ display: '企业名称', name: 'QYMC', align: 'center', editor: { type: 'text'}, width: '30%'},
			{ display: '总限价（不含税）', name: 'ZXJ_BHS', align: 'center', editor: { type: 'text'}, width: '30%'}
		  ],
	 url: '/quote/filterList?quote.PROJECT_ID=#(projectId)', sortName: 'userId',rownumbers:true,checkbox:false,
	 height: '100%', width:"100%", usePager:false, percentWidthMode:true
	});
			
</script>	
</body>
</html>