#include("/WEB-INF/view/common/qui/header.html")
#include("/WEB-INF/view/common/qui/jomino.html")
<!--日期选择框start -->
<script type="text/javascript" src="/libs/js/form/datePicker/WdatePicker.js"></script>
<!--日期选择框end-->
<script src="/libs/thirdparty/highcharts/js/highcharts.js"></script>
<script>
// Build the chart
		var firstPieChart={
		    chart: {		    	
		    	renderTo:'container1',
		        plotBackgroundColor: null,
		        plotBorderWidth: null,
		        plotShadow: false
		    },
		    title: {
		        text: ''
		    },
		    tooltip: {
			    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
		    },
		    plotOptions: {
		        pie: {
		            allowPointSelect: true,
		            cursor: 'pointer',
		            dataLabels: {
		                enabled: true,
		                color: '#000000',
		                connectorColor: '#000000',
		                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
		            },
		            showInLegend: true,
		            events: {
		            	click:function(e){
		            		$.get("/childPieData?whlm="+encodeURI(e.point.name),$("#queryForm").serialize(),function(result){ 
		            			pieChart.series[0].data=[];
		            			var i,len=result.pieData.length;
		            			for(i=0;i<len;i++){
		            				pieChart.series[0].data[i]=result.pieData[i];
		            			} 
		            			pieChart.title.text=result.pieTitle;;
		            			new Highcharts.Chart(pieChart);  
		            		})
		            		
		            	}
		            }
		        }
		    },
		    series: [{
		        type: 'pie',
		        name: '份额：',
		        data: []
		    }]
		}; 



		var pieChart={
            chart: {
                renderTo:'container2',
            	plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: '基础设施检修概况'
            },
            tooltip: {
        	    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                    },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: '份额：',            	
                data: []
            }]
        };      
		
		
		
		var columnChart={
         chart: {
        	 renderTo:'container',
             type: 'column'
         },
         title: {
             text: '各单位运维检修概览图'
         },
         xAxis: {
        	 categories:[]
         },
         yAxis: {
             min: 0,
             title: {
                 text: '项目数量'
             },
             stackLabels: {
                 enabled: true,
                 style: {
                     fontWeight: 'bold',
                     color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                 }
             }
         },
         legend: {
             align: 'right',
             x: -70,
             verticalAlign: 'top',
             y: 20,
             floating: true,
             backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColorSolid) || 'white',
             borderColor: '#CCC',
             borderWidth: 1,
             shadow: false
         },
         tooltip: {
             formatter: function() {
                 return '<b>'+ this.x +'</b><br/>'+
                     this.series.name +': '+ this.y +'<br/>'+
                     '总量: '+ this.point.stackTotal;
             }
         },
         plotOptions: {
             column: {
                 stacking: 'normal',
                 dataLabels: {
                     enabled: true,
                     color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
                 }
             }
         },
         series:[{},{},{},{},{},{},{}]
     };	
	
	
	$(function () {
       
		$.get("/firstPieData?",$("#queryForm").serialize(),function(result){ 
			firstPieChart.series[0].data=[];
			var i,len=result.pieData.length;
			for(i=0;i<len;i++){
				firstPieChart.series[0].data[i]=result.pieData[i];
			} 
			firstPieChart.title.text=result.pieTitle;
			new Highcharts.Chart(firstPieChart);  
		});
		        
 		$.get("/childPieData?",$("#queryForm").serialize(),function(result){ 
			pieChart.series[0].data=[];
			var i,len=result.pieData.length;
			for(i=0;i<len;i++){
				pieChart.series[0].data[i]=result.pieData[i];
			} 
			pieChart.title.text=result.pieTitle;
			new Highcharts.Chart(pieChart);  
		});       
 		  	      
		$.get("/columnChartData?",$("#queryForm").serialize(),function(result){ 			
			columnChart.xAxis.categories=result.xAxisUnit;
			var i,len=result.ySeriesData.length;
			columnChart.series[len];
			for(i=0;i<len;i++){
				columnChart.series[i].data=result.ySeriesData[i].data;
				columnChart.series[i].name=result.ySeriesData[i].name;
			} 
			columnChart.title.text=result.columnChartTitle;
			new Highcharts.Chart(columnChart);  
		});  
    });
	
	function refreshByType(){
		top.frmright.location.href="/open?TYPE="+$("#TYPE").val();
	}

	function loadData(){
		var queryPara =$("#queryForm").serialize(); 
		top.frmright.location.href="/open?"+queryPara;		
	}    
</script>
</head>
<body>

	<div class="box2" panelTitle="功能面板" id="searchPanel">
	        <form id="queryForm" method="post">
	        <table>
	            <tr>
	                <td width="40">类型：</td>
	                <td><select id="TYPE" name="TYPE"  data='{"list":[{"value":"2","key":"月度写实"},{"value":"0","key":"月度计划"},{"value":"1","key":"年度计划"}]}' selectedValue="#(type ??)" onchange="refreshByType()"></select></td>
	                <td width="40">时间：</td>
	                <td><input id="JH_TIME" name="JH_TIME" type="text" class="date" style="width:100px;" dateFmt="#(jhTimeFmt ??)" style="width:100px;" value="#(jhTime ??)" /></td>	                         
	                <td><button type="button" onclick="loadData()"><span class="icon_find2">查询</span></button></td>
	                <td><button type="reset" ><span class="icon_clear">重置</span></button></td>
	            </tr>
	        </table>
	        </form>
    </div>
    <div style="height:700px;">  
	<div id="container1" style="min-width: 200px; width:60%; height:300px; float:left; margin: 0 auto"></div>	
	<div id="container2" style="min-width: 200px; width:39%; height:300px; float:right; margin: 0 auto"></div>	
	<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	</div>
 
</body>
</html>